.g-button {
  height: var(--button-height);
  font-size: var(--font-size);
  padding: 0 var(--button-padding);
  background: var(--button-bg);
  border-radius: var(--border-radius);
  color: var(--button-color);
  border: 1px solid var(--border-color);
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center; }
  .g-button:hover {
    border: 1px solid var(--border-color-hover); }
  .g-button:active {
    background-color: var(--button-active-bg); }
  .g-button:focus {
    outline: none; }
  .g-button .loading {
    animation: spin 1.5s infinite linear; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  .g-button > .content {
    order: 2; }
  .g-button > .icon {
    order: 1;
    margin-right: .3em; }
  .g-button.icon-right > .content {
    order: 1; }
  .g-button.icon-right > .icon {
    order: 2;
    margin-right: 0;
    margin-left: .3em; }
.icon{
    width: 1em;
    height: 1em;
}
.wrapper[data-v-894945] {
  display: inline-block;
  font-size: 12px;
}
.wrapper > input[data-v-894945] {
    height: 32px;
    border: 1px solid #999;
    border-radius: 4px;
}
.wrapper > input[data-v-894945]:hover {
      border-color: #666;
}
.wrapper > input[data-v-894945]:focus {
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
      outline: none;
}
.wrapper > input[disabled][data-v-894945] {
      border-color: #bbb;
      color: #bbb;
      cursor: not-allowed;
}
.wrapper > input[readonly][data-v-894945] {
      border-color: #bbb;
      color: #bbb;
      cursor: not-allowed;
}
.wrapper > input.error[data-v-894945] {
      border-color: #F1453D;
}
.wrapper > .icon[data-v-894945] {
    fill: #F1453D;
}
.wrapper > .errorMessage[data-v-894945] {
    color: #F1453D;
}
.wrapper[data-v-894945] > :not(:last-child) {
    margin-right: .5em;
}

.col[data-v-81b028] {
  height: 100px;
  border: 1px solid red;
  width: 50%;
  padding: 0 10px;
  box-sizing: border-box;
}
.col-1[data-v-81b028] {
  width: 4.16667%;
}
.col-2[data-v-81b028] {
  width: 8.33333%;
}
.col-3[data-v-81b028] {
  width: 12.5%;
}
.col-4[data-v-81b028] {
  width: 16.66667%;
}
.col-5[data-v-81b028] {
  width: 20.83333%;
}
.col-6[data-v-81b028] {
  width: 25%;
}
.col-7[data-v-81b028] {
  width: 29.16667%;
}
.col-8[data-v-81b028] {
  width: 33.33333%;
}
.col-9[data-v-81b028] {
  width: 37.5%;
}
.col-10[data-v-81b028] {
  width: 41.66667%;
}
.col-11[data-v-81b028] {
  width: 45.83333%;
}
.col-12[data-v-81b028] {
  width: 50%;
}
.col-13[data-v-81b028] {
  width: 54.16667%;
}
.col-14[data-v-81b028] {
  width: 58.33333%;
}
.col-15[data-v-81b028] {
  width: 62.5%;
}
.col-16[data-v-81b028] {
  width: 66.66667%;
}
.col-17[data-v-81b028] {
  width: 70.83333%;
}
.col-18[data-v-81b028] {
  width: 75%;
}
.col-19[data-v-81b028] {
  width: 79.16667%;
}
.col-20[data-v-81b028] {
  width: 83.33333%;
}
.col-21[data-v-81b028] {
  width: 87.5%;
}
.col-22[data-v-81b028] {
  width: 91.66667%;
}
.col-23[data-v-81b028] {
  width: 95.83333%;
}
.col-24[data-v-81b028] {
  width: 100%;
}
.offset-1[data-v-81b028] {
  margin-left: 4.16667%;
}
.offset-2[data-v-81b028] {
  margin-left: 8.33333%;
}
.offset-3[data-v-81b028] {
  margin-left: 12.5%;
}
.offset-4[data-v-81b028] {
  margin-left: 16.66667%;
}
.offset-5[data-v-81b028] {
  margin-left: 20.83333%;
}
.offset-6[data-v-81b028] {
  margin-left: 25%;
}
.offset-7[data-v-81b028] {
  margin-left: 29.16667%;
}
.offset-8[data-v-81b028] {
  margin-left: 33.33333%;
}
.offset-9[data-v-81b028] {
  margin-left: 37.5%;
}
.offset-10[data-v-81b028] {
  margin-left: 41.66667%;
}
.offset-11[data-v-81b028] {
  margin-left: 45.83333%;
}
.offset-12[data-v-81b028] {
  margin-left: 50%;
}
.offset-13[data-v-81b028] {
  margin-left: 54.16667%;
}
.offset-14[data-v-81b028] {
  margin-left: 58.33333%;
}
.offset-15[data-v-81b028] {
  margin-left: 62.5%;
}
.offset-16[data-v-81b028] {
  margin-left: 66.66667%;
}
.offset-17[data-v-81b028] {
  margin-left: 70.83333%;
}
.offset-18[data-v-81b028] {
  margin-left: 75%;
}
.offset-19[data-v-81b028] {
  margin-left: 79.16667%;
}
.offset-20[data-v-81b028] {
  margin-left: 83.33333%;
}
.offset-21[data-v-81b028] {
  margin-left: 87.5%;
}
.offset-22[data-v-81b028] {
  margin-left: 91.66667%;
}
.offset-23[data-v-81b028] {
  margin-left: 95.83333%;
}
.offset-24[data-v-81b028] {
  margin-left: 100%;
}
.row {
    display: flex;
    margin: 0 -10px;
}